/* Media querys */
@media (max-width: 2500px) {
    .nav-img {
      width: 25%;
      height: 25%;
    }
  
    .menu__side a {
      font-size: 140%;
    }
  
  
    .menu__side {
      width: 4%;
      visibility: visible;
    }
  
    .options__menu .option i {
      font-size: 1.7em;
      cursor: pointer;
    }
  }
  @media (max-width: 2200px) {
    .nav-img {
      width: 25%;
      height: 25%;
    }
  
    .menu__side:hover .nav-img {
      width: 20%;
      height: 20%;
    }
  
    .menu__side a {
      font-size: 140%;
    }
  
   
  
    .menu__side {
      width: 5%;
      visibility: visible;
    }
  
    .options__menu .option i {
      font-size: 1.7em;
      cursor: pointer;
    }
  }
  @media (max-width: 1900px) {
    .nav-img {
      margin-left: 6%;
    }
  
    .options__menu .option i {
      font-size: 1.7em;
      cursor: pointer;
      margin-left: -2%;
    }
  
    .menu__side {
      width: 5%;
      visibility: visible;
    }
  }

  @media (max-width: 1840px) {
    .nav-img {
      margin-left: 6%;
    }
  
    .options__menu .option i {
      font-size: 1.7em;
      cursor: pointer;
      margin-left: -2%;
    }
  
    .menu__side {
      width: 5%;
      visibility: visible;
    }
  }
  
  @media (max-width: 1700px) {
    .nav-img {
      margin-left: 6%;
    }
  
    .options__menu .option i {
      font-size: 1.2em;
      cursor: pointer;
      margin-left: -2%;
    }

    .input-search{
        width: 24rem;
    }
    .boton-search{
        width: 7rem;
    }
  }
  @media (max-width: 1530px) {
    .nav-img {
      margin-left: 3%;
    }
    .options__menu .option i {
      font-size: 1.2em;
      cursor: pointer;
      margin-left: -5%;
    }
    .input-search{
        width: 20rem;
    }
    .boton-search{
        width: 4rem;
    }
  }
  @media (max-width: 1400px) {
    
    .input-search{
        width: 10rem;
    }
    .boton-search{
        width: 4rem;
    }
  }
  @media (max-width: 1280px) {
    .nav-img {
      margin-left: 0%;
    }
    .menu__side {
      width: 0;
      visibility: hidden;
    }
    .toggle i {
      display: unset;
    }
  
    .menu_options {
      display: none;
    }
  }
  @media (max-width: 1000px) {
    nav ul .logo {
      display: none;
    }
    .modal-content {
      width: 60%;
      margin-top: 20%;
      text-align: center;
    }
  
  }
  @media (max-width: 800px) {
    nav ul .logo {
      display: none;
    }
    .modal-content {
      width: 60%;
      margin-top: 20%;
      text-align: center;
    }
    .options__menu {
      margin-left: 35%;
    }
  }
  @media (max-width: 420px) {
    nav ul .logo {
      display: none;
    }
    .modal-content {
      width: 60%;
      margin-top: 20%;
      text-align: center;
    }
    .options__menu {
      margin-left: 20%;
    }
  }