
.row{
    margin-top: 10%;
    margin-left: 6%;
}


  h1{
  }
  .peliculas_list {
      display: flex;
      margin: 12px;
  }

  .content_film{
      text-decoration: none;
      color:white;
  }
  .descripcion{
        margin-top: 10px;
    }

    .btn_mas {
        margin-top: 10px;
        width:80px;
        height: 40px;
        background-color: red;
        color: white;
        border-radius: 10%;
        margin: 0 auto;
        display: block;
    }