@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color:rgb(14, 14, 14);
  color: white;
  overflow-y:scroll;

}
::-webkit-scrollbar{
  background-color:rgb(14, 14, 14);
  width: 0px;
  background: transparent;
}
::-webkit-scrollbar-track{
  border-radius: 10px;
  background-color:rgb(14, 14, 14);
}
::-webkit-scrollbar-thumb{
  border-radius: 10px;
  background-color: #D62929;
  background-image: -webkit-linear-gradient(90deg,transparent,rgba(0, 0, 0, 0.4) 50%,transparent,transparent)
}


.container {
  max-width: 1400px;
  margin: auto;
}



/* Barra de navegacion top */
ul li {
  list-style: none;
}

nav {
  background-color: rgba(14, 14, 14,0.8);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  opacity: 0.9;
}


nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 22px;
}
nav ul li{
margin: 30px;
}
.menu_options{
  display: unset;
}
nav ul li a{
    color: white;
    text-decoration: none;

  
  }


nav ul .logo {
    background: url("../images/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg")
      no-repeat center center/cover;
    height: 25px;
    width: 195px;
    display: unset;
  }
  .menu_options:hover{
    background-color: #D62929;
    color: white;
  }

  .toggle img{
      height: 40px;
      width:40px;
      cursor: pointer;
      display:none;
      /*visibility: hidden;*/
  }

.nav-img-top{
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 50%;


}

.input-search{
  border: 2px solid #dadada;
    transition: box-shadow linear 1s;
    padding: 10px;
    font-size: 17px;
    float: left;
    width: 70%;
    background: #f1f1f1;
}
.input-search:focus{
  outline: none;
    border-color: rgb(0, 255, 76);
    box-shadow: 0 0 10px rgb(0, 255, 76);
}


.boton-search{
  float: left;
  width: 25%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 2px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
}
.log::after {
  content: "";
  clear: both;
  display: table;
}


/* Menu lateral izquierdo */

#sidebar {
  width:3%;
  padding-top: 3%;
}

#contenido {
  margin-left:0;
}
#sidebar:hover {
  width:20%;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(14, 14, 14,0.8);
  opacity: 0.9;
  color: white;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing:border-box;
  visibility: visible;
}

.sidebar ul {
  margin: 4rem auto;
  display: block;
  width: 80%;
  min-width:200px;
}

.sidebar a {
  display: block;
  font-size: 180%;
  color: #eee;
  text-decoration: none;
  
}

.sidebar li:hover{
  color:#fff;
  background-color: #f90;

}

.nav-img{

  width: 18%;
  height: 18%;
  margin-right: 10%;
  margin-left: 2%;
  background: white;
  border-radius: 50%;
}


.menu img{
  vertical-align: middle;
  display: inline-block;
  align-items: center;
}





/* Header section */
.background {
  
  background:linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ), url("../images/header.jpg") no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 80px;
  height: 57vh;
  color: white;
  width: 104%;
  margin-left: -2%;
}



.background button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 120px;
  border-radius: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(30, 213, 169, 1) 0%,
    rgba(1, 180, 228, 1) 100%
  );
}



/* Boton animacion pelicula */
.boton-card{
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 60px;
  right: 10px;
  color: white;
  background-color:red;
  border-radius: 50%;
}

.boton-card:hover{
  cursor: pointer;
}



.freetowatch-cards{

  display: flex;
  align-items: center;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
  
}

.slider{
  display:flex;


}

.slideshow-container{
  position:relative;
  margin:auto;
 }
.text{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 .mySlides img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60vh;
  color: white;
  margin-left: 4%;
  z-index: 2;
  opacity: 0.9;
  background-color: #D62929;
 }


 .fade{
   opacity: .7;
  -webkit-animation-name:fade;
  -webkit-animation-duration:1.5s;
  animation-name:fade;
  animation-duration:1.5s;
 }
 
 @-webkit-keyframes fade{
  from{opacity:.4}
  to{opacity:.7}
 }
 
 @keyframes fade{
  from{opacity:.4}
  to{opacity:.7}
 }

.slider{
  width: 100%;
  animation: slider 20s infinite alternate ease-in-out;


}

@keyframes slider {
  0% {margin-left:0%}
  10% {margin-left:0%}

  20% {margin-left:-25%}
  30% {margin-left:-25%}

  40% {margin-left:-50%}
  50% {margin-left:-50%}

  60% {margin-left:-75%}
  70% {margin-left:-75%}

  80% {margin-left:-100%}
  90% {margin-left:-100%}

  
}
.freetowatch-cards .movie-card {
  margin-right: 1.5rem;
  position: relative;

  
  
  
}




/* Animacion de las cards de las peliculas */
.movie-card {
  transition: 1s ease;
  transform-style: preserve-3d;
}


.movie-card.flipped {
  transform: rotateY(180deg);
}





.delante,
.detras {
  position: absolute;
  backface-visibility: hidden;
}

.delante {
  z-index: 2;
  transform: translatey(-500px);
  margin-top: 500px;
}

.detras {
  margin-right: 1.5rem;
  width: 292px;
  height: 250px;
  color: white;
  padding: 1rem;
  background: linear-gradient(to top, white 0%, white 30%, black 70%, black 100% );
  position: relative;
  transform: rotateY(180deg);
}





/* movies rating */
.movie-rating {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: rgba(3, 37, 65);
  color: white;
  text-align: center;
  padding: 15px 0;
  position: absolute;
  bottom: 60px;
  left: 10px;
}
.movie-rating::after {
  content: "";
  height: 10px;
  width: 39px;
  border-radius: 100%;
  border: 3px solid gold;
  color: white;
  text-align: center;
  padding: 15px 0;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}





/* footer section */
.footer {
  background-color: rgb(31, 31, 31);
  padding: 70px 0;
  color: white;
}

.footer .maindiv {
  margin: auto;
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer .maindiv .footerlogo {
  background: url(../images/footerlogo.svg) center center no-repeat;
  height: 70px;
  width: 100px;
}






/* Media querys */
@media (min-width: 2200px) {
  .nav-img{
    
    width: 25%;
    height: 25%;
  }

  .sidebar:hover .nav-img{
    width: 20%;
    height: 20%;
  }
  
.sidebar a{
  font-size: 140% !important;
}
    

  nav ul{
    font-size: 32px;
  }

  .sidebar{
    width: 20%;
  }
}
@media (min-width: 1900px) {
  .nav-img{

    margin-left: 6%;
  }
  }
@media (max-width: 1500px) {
  .nav-img{

    margin-left: 3%;
  }
  }
@media (max-width: 1280px) {
  .nav-img{

    margin-left: 0%;
  }
  }
@media (max-width: 1150px) {
  .sidebar {
      visibility: hidden;
  }
  .toggle img{
    display: unset;
  }

  .menu_options{
    display: none;
  
  }
  nav ul .logo {
    
    display: none;
  }
  }