<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>

  <body>
    <%= require('html-loader!./componentes/navs.html').default %>

    <!-- Header Section 
    <div class="container">
      <div class="background">
        <h1>Welcome</h1>
        <h2>Este va a ser mi carrusel principal</h2>

      </div>
    </div>
-->
    <div class="container" id="contenedor">
      <div id="pelis_header">
      <div class="mySlides fade">
        <img id="foto" src="./images/static/big_1.jpg" style="width: 90%" />
        <div class="text_title">Batman</div>
        <div class="text">1</div>
      </div>
    </div>
    </div>


    <%= require('html-loader!./componentes/carruseles.html').default %>
    <%= require('html-loader!./componentes/login.html').default %>
    <%= require('html-loader!./componentes/footer.html').default %>

  

    <script type="text/javascript" src="./javascript/index.js"></script>
    <script>
      var slideIndex = 0;
      let tiempocambio = 3000;
      let xD = 0;
      showSlides();
      function showSlides() {
        
       var i;

       var slides = document.getElementsByClassName("mySlides");

       for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";
        
       
         

if (i==0) {
  
  tiempocambio=0;

}else{
  tiempocambio=3000;
}
        
       }

       slideIndex++;
       if(slideIndex > slides.length) {slideIndex = 1}
       slides[slideIndex-1].style.display = "block";

       setTimeout(showSlides,tiempocambio);
       }
    
    </script>

   
  </body>
</html>